<main class="text-center">
  <div class="flex  flex-col items-center justify-center h-screen">
      <h2 class="text-2xl font-bold font-font-primaria text-custom-font-destaque p-4">Bem-vindo a Loque<span class="text-custom-span font-font-primaria">Dog</span></h2>
      <div class="bg-custom-bloco shadow-lg shadow-cyan-500/100 text-center rounded-2xl m-4">
          <p class="text-2xl font-bold font-font-primaria text-custom-font-destaque p-4">Entre com sua conta ou crie uma nova para acessar o conteúdo</p>
        <div class="flex-col flex justify-center">
          <a routerLink="" class="bg-custom-botao text-custom-font-destaque shadow-cyan-500/50 hover:text-gray-800 hover:bg-custom-span shadow-lg font-bold font-font-primaria p-4 m-4 rounded-2xl">Acessar conta</a>
          <a routerLink="" class="bg-custom-botao text-custom-font-destaque shadow-cyan-500/50 hover:text-gray-800 hover:bg-custom-span shadow-lg font-bold font-font-primaria p-4 m-4 rounded-2xl">Criar nova conta</a>
        </div>
      </div>
    <i routerLink="" class="pi pi-home text-custom-span p-4" style="font-size: 2rem"></i>
  </div>
</main>
