<app-header></app-header>
<main class="text-center">
  
    <div>
      <p class="text-custom-font-destaque font-font-secundaria font-semibold text-2xl">Reservas</p>
    </div>
    
    <div class="p-2">
    
      <p-table
        [value]="multaPaged"
        [showCurrentPageReport]="true"
        [tableStyle]="{ 'width': '100%'}"
        currentPageReportTemplate="{first} De {last}"
        [rowsPerPageOptions]="[5, 10, 15, 20, 25]"
      >
        <ng-template pTemplate="header">
          <tr class="title">
            <th class="font-font-primaria font-bold text-lg text-black">Valor</th>
            <th class="font-font-primaria font-bold text-lg text-black">Status</th>
          </tr>

        </ng-template>

        <ng-template pTemplate="body" let-multas>
          <tr class="ti">
           
            <td class="text-black font-bold">R${{multas.valor}}</td>
            <td class="text-black font-bold">{{multas.pagamento}}</td>
            
          </tr>
        
        </ng-template>
    
      </p-table>
  </div>
</main>
<app-sidebar></app-sidebar>
<app-footer></app-footer>

