<main class="text-center">
    
  <div class="flex items-center flex-col justify-center h-screen">
    
    <h2 class="text-2xl font-bold font-font-primaria text-custom-font-destaque p-4">Bem-vindo a Loque<span class="text-custom-span font-font-primaria">Dog</span></h2>
    <p class="text-custom-font-secundario text-xl font-font-secundaria font-bold p-3 text-center">Entre com seu e-mail e senha para acessar sua conta.</p>
    
    <form #loginForm="ngForm" (submit)="onSubmit()">
      
      <div class="text-center">
        <h4 class="text-custom-font-secundario text-lg font-font-secundaria font-bold p-3">Login</h4>
        <input name="email" type="text" pInputText [(ngModel)]="login.email" minlength="2" maxlength="64" ngModel required/>
        <div *ngIf="(loginForm.controls['email']?.invalid && loginForm.controls['email']?.touched) || loginForm.controls['email']?.dirty">
          <span class="text-custom-botao font-font-secundaria font-bold text-sm" *ngIf="loginForm.controls['email']?.errors?.['required']">O campo Login deve ser preenchido.</span>
          <span class="text-custom-botao font-font-secundaria font-bold text-sm" *ngIf="loginForm.controls['email']?.errors?.['minlength']">O campo Login deve ter um email válido.</span>
        </div>
      </div>
      <div class="text-center">
        <h4 class="text-custom-font-secundario text-lg font-font-secundaria font-bold p-3">Senha</h4>
        <p-password name="password" [(ngModel)]="login.password" [toggleMask]="true" minlength="2" maxlength="24" ngModel required></p-password>
        <div *ngIf="(loginForm.controls['password']?.invalid && loginForm.controls['password']?.touched) || loginForm.controls['password']?.dirty">
          <span class="text-custom-botao font-font-secundaria font-bold text-sm" *ngIf="loginForm.controls['password']?.errors?.['required']">O campo password deve ser preenchido.</span>
        </div>
      </div>
      
      <div class="flex flex-col items-center">
        <a class="text-custom-font-secundario text-sm font-font-secundaria font-bold p-3 border">Esqueci a senha</a>
        <button type="submit" class="bg-custom-botao w-1/2 text-custom-font-destaque shadow-cyan-500/50 hover:text-gray-800 hover:bg-custom-span shadow-lg font-bold font-font-primaria p-4 m-4 rounded-2xl">Entrar</button>
        <p-messages [value]="message1" class="mx-4"></p-messages>
      </div>

    </form>
    
    <i routerLink="/inicio" class="text-custom-span pi pi-angle-left p-4"></i>
  
  </div>

</main>
