<p-sidebar [(visible)]="sidebarVisible">

  <ng-template pTemplate="header">
      <h1 class="font-bold uppercase tracking-widest font-font-primaria">Menu de Navegação</h1>
  </ng-template>

  <ng-template pTemplate="content">

      <div class="bg-custom-bloco py-4 rounded-lg shadow-md shadow-gray-300 flex h-auto flex-col">

        
          <button (click)="home()" class="px-4 rounded-sm hover:bg-custom-botao focus:border-2 transition-colors">
              <div class="flex items-center gap-4 text-left w-full p-2">
                  <i class="pi pi-home text-custom-span" style="font-size: 1.1rem"></i><span class="font-font-secundaria font-bold text-custom-font-destaque">Home</span>
              </div>
          </button>

          <button (click)="users()" class="px-4 rounded-sm hover:bg-custom-botao focus:border-2 transition-colors">
              <div class="flex items-center gap-4 text-left w-full p-2">
                  <i class="pi pi-user-edit text-custom-span" style="font-size: 1.1rem"></i><span class="font-font-secundaria font-bold text-custom-font-destaque">Administrativo</span>
              </div>
          </button>

          <button (click)="filmes()" class="px-4 rounded-sm hover:bg-custom-botao focus:border-2 transition-colors">
            <div class="flex items-center gap-4 text-left w-full p-2">
                <i class="pi pi-video text-custom-span" style="font-size: 1.1rem"></i><span class="font-font-secundaria font-bold text-custom-font-destaque">Filmes</span>
            </div>
          </button>

          <button (click)="estoque()" class="px-4 rounded-sm hover:bg-custom-botao focus:border-2 transition-colors">
            <div class="flex items-center gap-4 text-left w-full p-2">
                <i class="pi pi-box text-custom-span" style="font-size: 1.1rem"></i><span class="font-font-secundaria font-bold text-custom-font-destaque">Estoque</span>
            </div>
          </button>

          <button (click)="categoria()" class="px-4 rounded-sm hover:bg-custom-botao focus:border-2 transition-colors">
            <div class="flex items-center gap-4 text-left w-full p-2">
                <i class="pi pi-bars text-custom-span" style="font-size: 1.1rem"></i><span class="font-font-secundaria font-bold text-custom-font-destaque">Categorias</span>
            </div>
          </button>

          <button (click)="locacao()" class="px-4 rounded-sm hover:bg-custom-botao focus:border-2 transition-colors"> 
            <div class="flex items-center gap-4 text-left w-full p-2">
                <i class="pi pi-wallet text-custom-span" style="font-size: 1.1rem"></i><span class="font-font-secundaria font-bold text-custom-font-destaque">Aluguéis</span>
            </div>
          </button>

          <button (click)="reservas()" class="px-4 rounded-sm hover:bg-custom-botao focus:border-2 transition-colors">
            <div class="flex items-center gap-4 text-left w-full p-2">
                <i class="pi pi-bell text-custom-span" style="font-size: 1.1rem"></i><span class="font-font-secundaria font-bold text-custom-font-destaque">Reservas</span>
            </div>
          </button>

          <button (click)="multa()" class="px-4 rounded-sm hover:bg-custom-botao focus:border-2 transition-colors">
            <div class="flex items-center gap-4 text-left w-full p-2">
                <i class="pi pi-exclamation-circle text-custom-span" style="font-size: 1.1rem"></i><span class="font-font-secundaria font-bold text-custom-font-destaque">Multas</span>
            </div>
          </button>
      </div>
      
  </ng-template>

</p-sidebar>

<div class="fixed bottom-0 p-4 z-50">
  <button (click)="sidebarVisible = true" class="bg-custom-botao border-[0.15rem] border-gray-400 border-opacity-10 py-4 px-4 rounded-full flex items-center hover:shadow-gray-400 hover:opacity-90 transition-all">
      <i class="pi pi-th-large text-custom-span" style="font-size: 1.1rem"></i>
  </button>
</div>
