<app-header></app-header>
<main class="text-center">
  
    
    <div class="flex justify-center items-center h-[90vh]">
      
      <div>
        <h2 class="text-custom-font-destaque p-4 font-font-primaria font-bold text-5xl">Bem vindo, {{ tokenData.user_name }}</h2>
        <button (click)="sair()" class="bg-custom-botao text-custom-font-destaque shadow-cyan-500/50 hover:text-gray-800 hover:bg-custom-span shadow-lg font-bold font-font-primaria p-4 rounded-2xl">Sair da conta</button>
      </div>
    
    </div>
 

</main>
<app-footer></app-footer>
