<app-header></app-header>
<main class="text-center">
  
    <div>
      <p class="text-custom-font-destaque p-4 font-font-secundaria font-semibold text-2xl">Locacões</p>
      <button routerLink="/locacaocri" class="bg-custom-botao text-custom-font-destaque shadow-cyan-500/50 hover:text-gray-800 hover:bg-custom-span shadow-lg font-bold font-font-primaria p-4  rounded-2xl">Criar</button>
    </div>
    
    <div class="p-4">
    
      <p-table
        [value]="locacaoPaged"
        class="p-5"
        [showCurrentPageReport]="true"
        [tableStyle]="{ 'width': '100%'}"
        currentPageReportTemplate="{first} De {last}"
        [rowsPerPageOptions]="[5, 10, 15, 20, 25]"
        responsiveLayout="scroll"
      >
        <ng-template pTemplate="header">
          <tr class="title">
            <th class="font-font-primaria font-bold text-lg text-black">Data locação</th>
            <th class="font-font-primaria font-bold text-lg text-black">Data Max devolução</th>
            <th class="font-font-primaria font-bold text-lg text-black">Data devolução</th>
            <th class="font-font-primaria font-bold text-lg text-black">Usuário</th>
          </tr>

        </ng-template>

        <ng-template pTemplate="body" let-locacao>
          <tr class="ti">
           
            <td class="text-black font-bold">{{ locacao.dataLocacao }}</td>
            <td class="text-black font-bold">{{ locacao.dataMaxDevolucao }}</td>
            <td class="text-black font-bold">
              <ng-container *ngIf="locacao.dataDevolucao !== null; else iconCell">
                {{ locacao.dataDevolucao }}
              </ng-container>
              <ng-template #iconCell>
                <i class="pi pi-question-circle text-custom-span" style="font-size: 1.5rem" pTooltip="Usuário ainda não faz a devolução"></i>
              </ng-template>
            </td>
            <td class="text-black font-bold">{{ locacao.user.name }}</td>
       
          </tr>
        
        </ng-template>
    
      </p-table>
  </div>
  <div>
    <i routerLink="/homeAdm" class="pi pi-angle-left text-custom-span p-8" style="font-size: 2rem"></i>
  </div> 
</main>
<app-sidebar></app-sidebar>
<app-footer></app-footer>
